/* line 4, ../sass/menu-settings.scss */
.small-wrapper ul {
  padding: 0;
  list-style: none;
  margin-left: 20px; }

/* line 11, ../sass/menu-settings.scss */
.default-skin.header {
  background: #FFF;
  border-color: #5baadf transparent #ebebeb; }

/* line 17, ../sass/menu-settings.scss */
.green-sea-skin.header {
  background: #16a085;
  border-top-color: #1abc9c; }
/* line 21, ../sass/menu-settings.scss */
.green-sea-skin .navbar-default .navbar-nav > li > a,
.green-sea-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 26, ../sass/menu-settings.scss */
.green-sea-skin .redq .dropdown-menu {
  border-top-color: #1abc9c; }
/* line 29, ../sass/menu-settings.scss */
.green-sea-skin .redq a:hover {
  color: #1abc9c; }
/* line 33, ../sass/menu-settings.scss */
.green-sea-skin ul.sub-menu {
  border-top-color: #1abc9c; }

/* line 39, ../sass/menu-settings.scss */
.pomegranate-skin.header {
  background: #c0392b;
  border-top-color: #e74c3c; }
/* line 43, ../sass/menu-settings.scss */
.pomegranate-skin .navbar-default .navbar-nav > li > a,
.pomegranate-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 48, ../sass/menu-settings.scss */
.pomegranate-skin .redq .dropdown-menu {
  border-top-color: #e74c3c; }
/* line 51, ../sass/menu-settings.scss */
.pomegranate-skin .redq a:hover {
  color: #e74c3c; }
/* line 55, ../sass/menu-settings.scss */
.pomegranate-skin ul.sub-menu {
  border-top-color: #e74c3c; }

/* line 61, ../sass/menu-settings.scss */
.pumpkin-skin.header {
  background: #d35400;
  border-top-color: #e67e22; }
/* line 65, ../sass/menu-settings.scss */
.pumpkin-skin .navbar-default .navbar-nav > li > a,
.pumpkin-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 70, ../sass/menu-settings.scss */
.pumpkin-skin .redq .dropdown-menu {
  border-top-color: #e67e22; }
/* line 73, ../sass/menu-settings.scss */
.pumpkin-skin .redq a:hover {
  color: #e67e22; }
/* line 77, ../sass/menu-settings.scss */
.pumpkin-skin ul.sub-menu {
  border-top-color: #e67e22; }

/* line 83, ../sass/menu-settings.scss */
.belize-hole-skin.header {
  background: #2980b9;
  border-top-color: #3498db; }
/* line 87, ../sass/menu-settings.scss */
.belize-hole-skin .navbar-default .navbar-nav > li > a,
.belize-hole-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 92, ../sass/menu-settings.scss */
.belize-hole-skin .redq .dropdown-menu {
  border-top-color: #3498db; }
/* line 95, ../sass/menu-settings.scss */
.belize-hole-skin .redq a:hover {
  color: #3498db; }
/* line 99, ../sass/menu-settings.scss */
.belize-hole-skin ul.sub-menu {
  border-top-color: #3498db; }

/* line 105, ../sass/menu-settings.scss */
.nephritis-skin.header {
  background: #27ae60;
  border-top-color: #2ecc71; }
/* line 109, ../sass/menu-settings.scss */
.nephritis-skin .navbar-default .navbar-nav > li > a,
.nephritis-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 114, ../sass/menu-settings.scss */
.nephritis-skin .redq .dropdown-menu {
  border-top-color: #2ecc71; }
/* line 117, ../sass/menu-settings.scss */
.nephritis-skin .redq a:hover {
  color: #2ecc71; }
/* line 121, ../sass/menu-settings.scss */
.nephritis-skin ul.sub-menu {
  border-top-color: #2ecc71; }

/* line 127, ../sass/menu-settings.scss */
.orange-skin.header {
  background: #f39c12;
  border-top-color: #f1c40f; }
/* line 131, ../sass/menu-settings.scss */
.orange-skin .navbar-default .navbar-nav > li > a,
.orange-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 136, ../sass/menu-settings.scss */
.orange-skin .redq .dropdown-menu {
  border-top-color: #f1c40f; }
/* line 139, ../sass/menu-settings.scss */
.orange-skin .redq a:hover {
  color: #f1c40f; }
/* line 143, ../sass/menu-settings.scss */
.orange-skin ul.sub-menu {
  border-top-color: #f1c40f; }

/* line 148, ../sass/menu-settings.scss */
.wisteria-skin.header {
  background: #8e44ad;
  border-top-color: #9b59b6; }
/* line 152, ../sass/menu-settings.scss */
.wisteria-skin .navbar-default .navbar-nav > li > a,
.wisteria-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 158, ../sass/menu-settings.scss */
.wisteria-skin .redq .dropdown-menu {
  border-top-color: #9b59b6; }
/* line 161, ../sass/menu-settings.scss */
.wisteria-skin .redq a:hover {
  color: #9b59b6; }
/* line 165, ../sass/menu-settings.scss */
.wisteria-skin ul.sub-menu {
  border-top-color: #9b59b6; }

/* line 171, ../sass/menu-settings.scss */
.midnight-blue-skin.header {
  background: #2c3e50;
  border-top-color: #34495e; }
/* line 175, ../sass/menu-settings.scss */
.midnight-blue-skin .navbar-default .navbar-nav > li > a,
.midnight-blue-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 181, ../sass/menu-settings.scss */
.midnight-blue-skin .redq .dropdown-menu {
  border-top-color: #34495e; }
/* line 184, ../sass/menu-settings.scss */
.midnight-blue-skin .redq a:hover {
  color: #34495e; }
/* line 188, ../sass/menu-settings.scss */
.midnight-blue-skin ul.sub-menu {
  border-top-color: #34495e; }

/* line 194, ../sass/menu-settings.scss */
.asbestos-skin.header {
  background: #7f8c8d;
  border-top-color: #95a5a6; }
/* line 198, ../sass/menu-settings.scss */
.asbestos-skin .navbar-default .navbar-nav > li > a,
.asbestos-skin .navbar > .container .navbar-brand {
  color: #FFF; }
/* line 204, ../sass/menu-settings.scss */
.asbestos-skin .redq .dropdown-menu {
  border-top-color: #95a5a6; }
/* line 207, ../sass/menu-settings.scss */
.asbestos-skin .redq a:hover {
  color: #95a5a6; }
/* line 211, ../sass/menu-settings.scss */
.asbestos-skin ul.sub-menu {
  border-top-color: #95a5a6; }

@media (min-width: 768px) {
  /* line 228, ../sass/menu-settings.scss */
  .fadeInUp .nav.navbar-nav > li:hover > ul.dropdown-menu, .fadeInUp .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 500ms;
    -moz-animation: fadeInUp 500ms;
    -ms-animation: fadeInUp 500ms;
    -o-animation: fadeInUp 500ms;
    animation: fadeInUp 500ms; }
  /* line 244, ../sass/menu-settings.scss */
  .fadeInUp .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: fadeInUp 500ms;
    -moz-animation: fadeInUp 500ms;
    -ms-animation: fadeInUp 500ms;
    -o-animation: fadeInUp 500ms;
    animation: fadeInUp 500ms; }

  /* line 264, ../sass/menu-settings.scss */
  .fadeInDown .nav.navbar-nav > li:hover > ul.dropdown-menu, .fadeInDown .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: fadeInDown 500ms;
    -moz-animation: fadeInDown 500ms;
    -ms-animation: fadeInDown 500ms;
    -o-animation: fadeInDown 500ms;
    animation: fadeInDown 500ms; }
  /* line 280, ../sass/menu-settings.scss */
  .fadeInDown .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: fadeInDown 500ms;
    -moz-animation: fadeInDown 500ms;
    -ms-animation: fadeInDown 500ms;
    -o-animation: fadeInDown 500ms;
    animation: fadeInDown 500ms; }

  /* line 300, ../sass/menu-settings.scss */
  .bounceInUp .nav.navbar-nav > li:hover > ul.dropdown-menu, .bounceInUp .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: bounceInUp 500ms;
    -moz-animation: bounceInUp 500ms;
    -ms-animation: bounceInUp 500ms;
    -o-animation: bounceInUp 500ms;
    animation: bounceInUp 500ms; }
  /* line 316, ../sass/menu-settings.scss */
  .bounceInUp .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: bounceInUp 500ms;
    -moz-animation: bounceInUp 500ms;
    -ms-animation: bounceInUp 500ms;
    -o-animation: bounceInUp 500ms;
    animation: bounceInUp 500ms; }

  /* line 336, ../sass/menu-settings.scss */
  .flipInX .nav.navbar-nav > li:hover > ul.dropdown-menu, .flipInX .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: flipInX 500ms;
    -moz-animation: flipInX 500ms;
    -ms-animation: flipInX 500ms;
    -o-animation: flipInX 500ms;
    animation: flipInX 500ms; }
  /* line 352, ../sass/menu-settings.scss */
  .flipInX .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: flipInX 500ms;
    -moz-animation: flipInX 500ms;
    -ms-animation: flipInX 500ms;
    -o-animation: flipInX 500ms;
    animation: flipInX 500ms; }

  /* line 372, ../sass/menu-settings.scss */
  .flipInY .nav.navbar-nav > li:hover > ul.dropdown-menu, .flipInY .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: flipInY 500ms;
    -moz-animation: flipInY 500ms;
    -ms-animation: flipInY 500ms;
    -o-animation: flipInY 500ms;
    animation: flipInY 500ms; }
  /* line 388, ../sass/menu-settings.scss */
  .flipInY .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: flipInY 500ms;
    -moz-animation: flipInY 500ms;
    -ms-animation: flipInY 500ms;
    -o-animation: flipInY 500ms;
    animation: flipInY 500ms; }

  /* line 408, ../sass/menu-settings.scss */
  .pulse .nav.navbar-nav > li:hover > ul.dropdown-menu, .pulse .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: pulse 500ms;
    -moz-animation: pulse 500ms;
    -ms-animation: pulse 500ms;
    -o-animation: pulse 500ms;
    animation: pulse 500ms; }
  /* line 424, ../sass/menu-settings.scss */
  .pulse .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: pulse 500ms;
    -moz-animation: pulse 500ms;
    -ms-animation: pulse 500ms;
    -o-animation: pulse 500ms;
    animation: pulse 500ms; }

  /* line 444, ../sass/menu-settings.scss */
  .zoomIn .nav.navbar-nav > li:hover > ul.dropdown-menu, .zoomIn .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -ms-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms; }
  /* line 460, ../sass/menu-settings.scss */
  .zoomIn .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -ms-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms; }

  /* line 481, ../sass/menu-settings.scss */
  .lightSpeedIn .nav.navbar-nav > li:hover > ul.dropdown-menu, .lightSpeedIn .nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: lightSpeedIn 500ms;
    -moz-animation: lightSpeedIn 500ms;
    -ms-animation: lightSpeedIn 500ms;
    -o-animation: lightSpeedIn 500ms;
    animation: lightSpeedIn 500ms; }
  /* line 497, ../sass/menu-settings.scss */
  .lightSpeedIn .nav .sub-menu .dropdown:hover > .sub-menu {
    display: block;
    -webkit-animation: lightSpeedIn 500ms;
    -moz-animation: lightSpeedIn 500ms;
    -ms-animation: lightSpeedIn 500ms;
    -o-animation: lightSpeedIn 500ms;
    animation: lightSpeedIn 500ms; } }
