@media (min-width: 768px) {
  /* line 5, ../sass/responsive.scss */
  .navbar > .container .navbar-brand {
    margin-left: -15px;
    margin-top: 20px; }

  /* line 11, ../sass/responsive.scss */
  .navbar-nav {
    float: right; } }
@media (max-width: 767px) {
  /* line 22, ../sass/responsive.scss */
  .nav .sub-menu,
  .nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none; } }
