// ------------------------------------------------------------------
// Here are all variables
// ------------------------------------------------------------------

// $link-color: #404040;
$link-color: #575757;
$link-hover-color: #5BAADF;

$navbar-bg: #F8F8F8;
$navbar-bg-border: #E7E7E7;
$border-color: #EBEBEB;
$border-color-alt: #E4E4E4;
$bg-color: #E7E7E7;
$inverse-bg: #FFF;
$transparent-bg: transparent;

$dark-bg: #212121;
$light-gray: #F5F5F5;
$light-gray-border: #EAEAEA;

$hover-link-bg: #F7F7F7;

$blue-2: #2980B9;