// ------------------------------------------------------------------
// Here are all variables
// ------------------------------------------------------------------

$link-color: #8C8C8C;
$link-hover-color: #5BAADF;

$border-color: #EBEBEB;
$bg-color: #E7E7E7;

$hover-link-bg: #F7F7F7;