// ------------------------------------------------------------------
// Here are all variables
// ------------------------------------------------------------------

$link-color: #8C8C8C;
$link-hover-color: #5BAADF;

$navbar-bg: #F8F8F8;
$navbar-bg-border: #E7E7E7;
$border-color: #EBEBEB;
$bg-color: #E7E7E7;
$inverse-bg: #FFF;

$hover-link-bg: #F7F7F7;