@import "variable";

.small-wrapper {
	ul {
		padding: 0;
		list-style: none;
		margin-left: 20px;
	}
}

ul#color-skins input[type="radio"] {
	margin-top: 8px;
}



@media (max-width: 767px) {
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		margin-top: 6px;
	}

	.default-skin {
		&.header {
			background: #FFF;
			border-color: #5BAADF transparent $border-color;
		}
		.navbar-default .navbar-toggle .icon-bar {
			background: #5BAADF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #5BAADF
			}
			a:hover {
				color: #5BAADF;
			}
		}
		ul.sub-menu {
			border-top-color: #5BAADF;
		}
	}

	.green-sea-skin {
		&.header {
			background: #16a085;
			border-top-color: #1abc9c;
		}
		// .navbar-default .navbar-nav > li > a,
		// .navbar > .container .navbar-brand {
		// 	color: #FFF;
		// }
		// .redq {
		// 	.dropdown-menu {
		// 		border-top-color: #1abc9c;
		// 	}
		// 	a:hover {

		// 	}
		// }
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.navbar-default .navbar-toggle .icon-bar {
			background: #16a085;
		}
		.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
			color: #1abc9c;
		}
		ul.sub-menu {
			border-top-color: #1abc9c;
		}
		.dropdown-menu {
			border-top-color: #1abc9c;
		}
	}
	.pomegranate-skin {
		&.header {
			background: #c0392b;
			border-top-color: #e74c3c;
		}
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.navbar-default .navbar-toggle .icon-bar {
			background: #c0392b;
		}
		.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
			color: #e74c3c;
		}
		ul.sub-menu {
			border-top-color: #e74c3c;
		}
		.dropdown-menu {
			border-top-color:#e74c3c;
		}
		.navbar-nav .open .dropdown-menu {
			border-top-color: #e74c3c;
		}
	}

	.pumpkin-skin {
		&.header {
			background: #d35400;
			border-top-color: #e67e22;
		}
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.navbar-default .navbar-toggle .icon-bar {
			background: #d35400;
		}
		.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
			color: #e67e22;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #e67e22;
			}
			a:hover {
				color: #e67e22;
			}
		}
		ul.sub-menu {
			border-top-color: #e67e22;
		}
	}

	.belize-hole-skin {
		&.header {
			background: #2980b9;
			border-top-color: #3498db;
		}
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.navbar-default .navbar-toggle .icon-bar {
			background: #2980b9;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #3498db;
			}
			a:hover {
				color: #3498db;
			}
		}
		ul.sub-menu {
			border-top-color: #3498db;
		}
	}
}

@media (min-width: 768px) {
	.default-skin {
		&.header {
			background: #FFF;
			border-color: #5BAADF transparent $border-color;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #5BAADF
			}
			a:hover {
				color: #5BAADF;
			}
		}
		ul.sub-menu {
			border-top-color: #5BAADF;
		}
	}
	.green-sea-skin {
		&.header {
			background: #16a085;
			border-top-color: #1abc9c;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #1abc9c;
			}
			a:hover {
				color: #1abc9c;
			}
		}
		ul.sub-menu {
			border-top-color: #1abc9c;
		}
	}

	.pomegranate-skin {
		&.header {
			background: #c0392b;
			border-top-color: #e74c3c;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #e74c3c;
			}
			a:hover {
				color: #e74c3c;
			}
		}
		ul.sub-menu {
			border-top-color: #e74c3c;
		}
	}

	.pumpkin-skin {
		&.header {
			background: #d35400;
			border-top-color: #e67e22;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #e67e22;
			}
			a:hover {
				color: #e67e22;
			}
		}
		ul.sub-menu {
			border-top-color: #e67e22;
		}
	}

	.belize-hole-skin {
		&.header {
			background: #2980b9;
			border-top-color: #3498db;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #3498db;
			}
			a:hover {
				color: #3498db;
			}
		}
		ul.sub-menu {
			border-top-color: #3498db;
		}
	}

	.nephritis-skin {
		&.header {
			background: #27ae60;
			border-top-color: #2ecc71;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #2ecc71;
			}
			a:hover {
				color: #2ecc71;
			}
		}
		ul.sub-menu {
			border-top-color: #2ecc71;
		}
	}
	.orange-skin {
		&.header {
			background: #f39c12;
			border-top-color: #f1c40f;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #f1c40f;
			}
			a:hover {
				color: #f1c40f;
			}
		}
		ul.sub-menu {
			border-top-color: #f1c40f;
		}
	}
	.silver-skin {
		&.header {
			background: #bdc3c7;
			border-top-color: #ecf0f1;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}

		.redq {
			.dropdown-menu {
				border-top-color: #ecf0f1;
			}
			a:hover {
				color: #bdc3c7;
			}
		}
		ul.sub-menu {
			border-top-color: #ecf0f1;
		}
	}
	.orange-skin {
		&.header {
			background: #f39c12;
			border-top-color: #f1c40f;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}
		.redq {
			.dropdown-menu {
				border-top-color: #f1c40f;
			}
			a:hover {
				color: #f1c40f;
			}
		}
		ul.sub-menu {
			border-top-color: #f1c40f;
		}
	}
	.wisteria-skin {
		&.header {
			background: #8e44ad;
			border-top-color: #9b59b6;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}

		.redq {
			.dropdown-menu {
				border-top-color: #9b59b6;
			}
			a:hover {
				color: #9b59b6;
			}
		}
		ul.sub-menu {
			border-top-color: #9b59b6;
		}
	}

	.midnight-blue-skin {
		&.header {
			background: #2c3e50;
			border-top-color: #34495e;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}

		.redq {
			.dropdown-menu {
				border-top-color: #34495e;
			}
			a:hover {
				color: #34495e;
			}
		}
		ul.sub-menu {
			border-top-color: #34495e;
		}
	}

	.asbestos-skin {
		&.header {
			background: #7f8c8d;
			border-top-color: #95a5a6;
		}
		.navbar-default .navbar-nav > li > a,
		.navbar > .container .navbar-brand {
			color: #FFF;
		}

		.redq {
			.dropdown-menu {
				border-top-color: #95a5a6;
			}
			a:hover {
				color: #95a5a6;
			}
		}
		ul.sub-menu {
			border-top-color: #95a5a6;
		}
	}



	.fadeInUp {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: fadeInUp 500ms;
							    -moz-animation: fadeInUp 500ms;
							    -ms-animation: fadeInUp 500ms;
							    -o-animation: fadeInUp 500ms;
							    animation: fadeInUp 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: fadeInUp 500ms;
						    -moz-animation: fadeInUp 500ms;
						    -ms-animation: fadeInUp 500ms;
						    -o-animation: fadeInUp 500ms;
						    animation: fadeInUp 500ms;
						}
					}
				}
			}
		}
	}
	.animate-null {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}
	.fadeInDown {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: fadeInDown 500ms;
							    -moz-animation: fadeInDown 500ms;
							    -ms-animation: fadeInDown 500ms;
							    -o-animation: fadeInDown 500ms;
							    animation: fadeInDown 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: fadeInDown 500ms;
						    -moz-animation: fadeInDown 500ms;
						    -ms-animation: fadeInDown 500ms;
						    -o-animation: fadeInDown 500ms;
						    animation: fadeInDown 500ms;
						}
					}
				}
			}
		}
	}
	.bounceInUp {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: bounceInUp 500ms;
							    -moz-animation: bounceInUp 500ms;
							    -ms-animation: bounceInUp 500ms;
							    -o-animation: bounceInUp 500ms;
							    animation: bounceInUp 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: bounceInUp 500ms;
						    -moz-animation: bounceInUp 500ms;
						    -ms-animation: bounceInUp 500ms;
						    -o-animation: bounceInUp 500ms;
						    animation: bounceInUp 500ms;
						}
					}
				}
			}
		}
	}
	.flipInX {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: flipInX 500ms;
							    -moz-animation: flipInX 500ms;
							    -ms-animation: flipInX 500ms;
							    -o-animation: flipInX 500ms;
							    animation: flipInX 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: flipInX 500ms;
						    -moz-animation: flipInX 500ms;
						    -ms-animation: flipInX 500ms;
						    -o-animation: flipInX 500ms;
						    animation: flipInX 500ms;
						}
					}
				}
			}
		}
	}
	.flipInY {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: flipInY 500ms;
							    -moz-animation: flipInY 500ms;
							    -ms-animation: flipInY 500ms;
							    -o-animation: flipInY 500ms;
							    animation: flipInY 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: flipInY 500ms;
						    -moz-animation: flipInY 500ms;
						    -ms-animation: flipInY 500ms;
						    -o-animation: flipInY 500ms;
						    animation: flipInY 500ms;
						}
					}
				}
			}
		}
	}
	.pulse {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: pulse 500ms;
							    -moz-animation: pulse 500ms;
							    -ms-animation: pulse 500ms;
							    -o-animation: pulse 500ms;
							    animation: pulse 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: pulse 500ms;
						    -moz-animation: pulse 500ms;
						    -ms-animation: pulse 500ms;
						    -o-animation: pulse 500ms;
						    animation: pulse 500ms;
						}
					}
				}
			}
		}
	}
	.zoomIn {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: zoomIn 500ms;
							    -moz-animation: zoomIn 500ms;
							    -ms-animation: zoomIn 500ms;
							    -o-animation: zoomIn 500ms;
							    animation: zoomIn 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: zoomIn 500ms;
						    -moz-animation: zoomIn 500ms;
						    -ms-animation: zoomIn 500ms;
						    -o-animation: zoomIn 500ms;
						    animation: zoomIn 500ms;
						}
					}
				}
			}
		}
	}

		.lightSpeedIn {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: lightSpeedIn 500ms;
							    -moz-animation: lightSpeedIn 500ms;
							    -ms-animation: lightSpeedIn 500ms;
							    -o-animation: lightSpeedIn 500ms;
							    animation: lightSpeedIn 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: lightSpeedIn 500ms;
						    -moz-animation: lightSpeedIn 500ms;
						    -ms-animation: lightSpeedIn 500ms;
						    -o-animation: lightSpeedIn 500ms;
						    animation: lightSpeedIn 500ms;
						}
					}
				}
			}
		}
	}
}




.skin-block {
	width: 60px;
	height: 30px;
	margin: 5px 0;
}
.default-bg {
	background: #FFF;
	border: 1px solid $border-color;
}
.green-sea-bg {
	background: #16A085;
}
.pomegranate-bg {
	background: #C0392B;
}
.silver-bg {
	background: #bdc3c7;
}
.pumpkin-bg {
	background: #d35400;
}
.orange-bg {
	background: #f39c12;
}
.nephritis-bg {
	background: #27ae60;
}
.wisteria-bg {
	background: #8e44ad;
}
.asbestos-bg {
	background: #7f8c8d;
}
.midnight-blue-bg {
	background: #2c3e50;
}
.belize-hole-bg {
	background: #2980b9;
}