@import "variable";

.small-wrapper {
	ul {
		padding: 0;
		list-style: none;
		margin-left: 20px;
	}
}
.default-skin {
	&.header {
		background: #FFF;
		border-color: #5BAADF transparent $border-color;
	}
}
.green-sea-skin {
	&.header {
		background: #16a085;
		border-top-color: #1abc9c;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}
	.redq {
		.dropdown-menu {
			border-top-color: #1abc9c;
		}
		a:hover {
			color: #1abc9c;
		}
	}
	ul.sub-menu {
		border-top-color: #1abc9c;
	}
}

.pomegranate-skin {
	&.header {
		background: #c0392b;
		border-top-color: #e74c3c;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}
	.redq {
		.dropdown-menu {
			border-top-color: #e74c3c;
		}
		a:hover {
			color: #e74c3c;
		}
	}
	ul.sub-menu {
		border-top-color: #e74c3c;
	}
}

.pumpkin-skin {
	&.header {
		background: #d35400;
		border-top-color: #e67e22;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}
	.redq {
		.dropdown-menu {
			border-top-color: #e67e22;
		}
		a:hover {
			color: #e67e22;
		}
	}
	ul.sub-menu {
		border-top-color: #e67e22;
	}
}

.belize-hole-skin {
	&.header {
		background: #2980b9;
		border-top-color: #3498db;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}
	.redq {
		.dropdown-menu {
			border-top-color: #3498db;
		}
		a:hover {
			color: #3498db;
		}
	}
	ul.sub-menu {
		border-top-color: #3498db;
	}
}

.nephritis-skin {
	&.header {
		background: #27ae60;
		border-top-color: #2ecc71;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}
	.redq {
		.dropdown-menu {
			border-top-color: #2ecc71;
		}
		a:hover {
			color: #2ecc71;
		}
	}
	ul.sub-menu {
		border-top-color: #2ecc71;
	}
}

.orange-skin {
	&.header {
		background: #f39c12;
		border-top-color: #f1c40f;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}
	.redq {
		.dropdown-menu {
			border-top-color: #f1c40f;
		}
		a:hover {
			color: #f1c40f;
		}
	}
	ul.sub-menu {
		border-top-color: #f1c40f;
	}
}
.wisteria-skin {
	&.header {
		background: #8e44ad;
		border-top-color: #9b59b6;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}

	.redq {
		.dropdown-menu {
			border-top-color: #9b59b6;
		}
		a:hover {
			color: #9b59b6;
		}
	}
	ul.sub-menu {
		border-top-color: #9b59b6;
	}
}

.midnight-blue-skin {
	&.header {
		background: #2c3e50;
		border-top-color: #34495e;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}

	.redq {
		.dropdown-menu {
			border-top-color: #34495e;
		}
		a:hover {
			color: #34495e;
		}
	}
	ul.sub-menu {
		border-top-color: #34495e;
	}
}

.asbestos-skin {
	&.header {
		background: #7f8c8d;
		border-top-color: #95a5a6;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar > .container .navbar-brand {
		color: #FFF;
	}

	.redq {
		.dropdown-menu {
			border-top-color: #95a5a6;
		}
		a:hover {
			color: #95a5a6;
		}
	}
	ul.sub-menu {
		border-top-color: #95a5a6;
	}
}






@media (min-width: 768px) {
	.fadeInUp {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: fadeInUp 500ms;
							    -moz-animation: fadeInUp 500ms;
							    -ms-animation: fadeInUp 500ms;
							    -o-animation: fadeInUp 500ms;
							    animation: fadeInUp 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: fadeInUp 500ms;
						    -moz-animation: fadeInUp 500ms;
						    -ms-animation: fadeInUp 500ms;
						    -o-animation: fadeInUp 500ms;
						    animation: fadeInUp 500ms;
						}
					}
				}
			}
		}
	}
	.fadeInDown {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: fadeInDown 500ms;
							    -moz-animation: fadeInDown 500ms;
							    -ms-animation: fadeInDown 500ms;
							    -o-animation: fadeInDown 500ms;
							    animation: fadeInDown 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: fadeInDown 500ms;
						    -moz-animation: fadeInDown 500ms;
						    -ms-animation: fadeInDown 500ms;
						    -o-animation: fadeInDown 500ms;
						    animation: fadeInDown 500ms;
						}
					}
				}
			}
		}
	}
	.bounceInUp {
		.nav {
			&.navbar-nav {
				> li{
					&:hover {
						> ul {
							&.dropdown-menu, &.sub-menu {
							    display: block;

							    -webkit-animation: bounceInUp 500ms;
							    -moz-animation: bounceInUp 500ms;
							    -ms-animation: bounceInUp 500ms;
							    -o-animation: bounceInUp 500ms;
							    animation: bounceInUp 500ms;
							}
						}
					}
				}
			}
			.sub-menu {
				.dropdown {
					&:hover {
						> .sub-menu {
							display: block;

							-webkit-animation: bounceInUp 500ms;
						    -moz-animation: bounceInUp 500ms;
						    -ms-animation: bounceInUp 500ms;
						    -o-animation: bounceInUp 500ms;
						    animation: bounceInUp 500ms;
						}
					}
				}
			}
		}
	}
}