@media (min-width: 768px) {
	.navbar {

		> .container {
			.navbar-brand {
				display: block;
				margin-left: -15px;
				margin-top: 15px;
			}
		}
	}
	.navbar-nav {
		float: right;
	}
	ul.nav .dropdown:hover > .sub-menu,
	ul.nav .dropdown:hover > .dropdown-menu {
		// display: block;
	}

	.navbar-default .navbar-nav > li {
		padding: 33px 15px;
	}

	.shrink .navbar-default .navbar-nav > li {
		padding: 15px 15px;
	}
}

@media (max-width: 767px) {
	.nav .sub-menu,
	.nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: rgba(0, 0, 0, 0);
		border: 0;
		box-shadow: none;
	}
}
