@import "variable";

@media (min-width: 768px) {
	.navbar {
		line-height: 1.6;
		font-size: 12px;

		> .container {
			.navbar-brand {
				display: block;
				margin-left: -15px;
				margin-top: 21px;
			}
		}
	}

	.header{
		height: 111px;

		.navbar-default {
			// .navbar-collapse {
			// 	-webkit-transition: height 0.3s;
			// 	-moz-transition: height 0.3s;
			// 	transition: height 0.3s;

			// 	height: 98px !important;
			// }
		}
		&.shrink {
			.navbar-default {
				// .navbar-collapse {
				// 	-webkit-transition: height 0.3s;
				// 	-moz-transition: height 0.3s;
				// 	transition: height 0.3s;

				// 	height: 62px !important;
				// }
			}
			.navbar {

				> .container {
					.navbar-brand {
						margin-top: 0;
					}
				}
			}
		}
	}


	.navbar-nav {
		float: none;
		text-align: right;

		> li {
			float: none;
			text-align: left;
			display: inline-block;
		}
	}

	.align-left {
		.navbar-nav {
			text-align: left;
		}
	}

	.align-center {
		.navbar-nav {
			text-align: center;
		}
	}

	.align-right {
		.navbar-nav {
			text-align: right;
		}
	}

	ul.nav .dropdown:hover > .sub-menu,
	ul.nav .dropdown:hover > .dropdown-menu {
		// display: block;
	}

	.navbar-default .navbar-collapse {
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.navbar-default .navbar-nav > li {
		padding: 33px 15px;
	}

	.redq .dropdown.redq-halfwidth .dropdown-menu {
		width: 585px;
	}
	.shrink .navbar-default .navbar-nav > li {
		padding: 15px 15px;
	}

	.nav{
		&.navbar-nav {
			> li{
				&:hover {
					> ul {
						&.dropdown-menu, &.sub-menu {
						    display: block;

						    -webkit-animation: fadeInUp 500ms;
						    -moz-animation: fadeInUp 500ms;
						    -ms-animation: fadeInUp 500ms;
						    -o-animation: fadeInUp 500ms;
						    animation: fadeInUp 500ms;
						}
					}
				}
			}
		}
		.sub-menu {
			.dropdown {
				&:hover {
					> .sub-menu {
						display: block;

						-webkit-animation: fadeInUp 500ms;
					    -moz-animation: fadeInUp 500ms;
					    -ms-animation: fadeInUp 500ms;
					    -o-animation: fadeInUp 500ms;
					    animation: fadeInUp 500ms;
					}
				}
			}
		}
	}
}


@media (max-width: 767px) {
	.nav .sub-menu,
	.nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: rgba(0, 0, 0, 0);
		border: 0;
		box-shadow: none;
	}

	.navbar-nav {
		background: $inverse-bg;
		.open {
			.dropdown-menu {
				border-width: 0 1px 1px;
				border-style: solid;
				border-color: $border-color;
			}
		}
	}
}
