/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/sstyle.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

body {
	font-family: 'Lato';
	font-size: 14px;
}
.pixx {
	a {
		color: #8C8C8C;
	}
	
	.dropdown {
		&.pixx-fullwidth {
			position: static;

			.dropdown-menu {
				width: 100%;
			    left: 0;
			    right: 0;
			    ul {
			    	
			    }
			    .columns {
			    	width: 20%;
			    	float: left;
			    }
			}

			.columns {
				border-right: 1px solid #EBEBEB;
				
				li {
					border-bottom: 1px solid #EBEBEB;
				}
				a {
					padding: 20px 30px;
					display: inline-block;
				}
			}
		}
	}
	.menu-content {
		padding: 20px 30px;

		&:before,
		&:after {
			display: table;
			content: "";
			line-height: 0;		
		}

		&:after {
			clear: both;
		}
	}
	.thumbnails {
		list-style: none;
	}
}
