/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/sstyle.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "variable";

body {
	font-family: 'Lato';
	font-size: 14px;
}
.navbar-default {
	.navbar-nav {
		> li {
		 	> a {
				color: $link-color;

				&:hover {
					color: $link-hover-color;
				}
			}
		}

		> .open {
			> a {
				color: $link-color;
				background-color: $bg-color;

				&:hover,
				&:focus {
					color: $link-color;
					background-color: $bg-color;
				}
			}
		}
	}
}

.pixx {
	a {
		color: $link-color;

		&:hover{
			color: $link-hover-color;
		}
	}
	.dropdown-menu {
		padding: 0;

		&.spacing {
			padding: 20px 30px;
		}
		&.spacing10 {
			padding: 10px 0;
		}
	}
	.dropdown {
		
		&.pixx-fullwidth {
			position: static;

			.dropdown-menu {
				width: 100%;
			    left: 0;
			    right: 0;
			    ul {
			    	
			    }
			    .columns {
			    	width: 20%;
			    	float: left;
			    }
			}

			.columns {
				

				li {
					
				}
				a {
					border-bottom: 1px solid $border-color;
					border-right: 1px solid $border-color;
					padding: 20px 30px;
					display: inline-block;
				}
			}
		}
	}
	.menu-content {
		padding: 20px 30px;

		&:before,
		&:after {
			display: table;
			content: "";
			line-height: 0;		
		}

		&:after {
			clear: both;
		}
	}
	.thumbnails {
		list-style: none;
	}
}
